@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css");

/*All pages using this css file*/
body{
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;

}
#logo{
    width: 3%; /* you can use % */
    margin-left: 20px;
    /* height: auto; */

}
/* ---------------------------- Nav Bar ------------------------------------*/

.entire-homepage{

}
/* Nav Bar Stuff */
.navbar{

    background-color: #fff;
    border: 1px solid #dedede;
    border-radius: 4px;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
    color: #888;
    overflow: hidden;
    width: 100%; 
    margin: 0 auto;
    padding: 0;

}


#home{
    color: grey;
    font-size: medium;
}
#profile{
    color: grey;
    font-size: medium;
}
#settings{
    color: grey;
    font-size: medium;
}
#logout{
    color: grey;
    font-size: medium;
}

#notifications{
    color: grey;
    font-size: medium;

}

#messages{
    color: grey;
    font-size: medium;
}

.search-bar{
    width: 250px;
    margin-left: 730px;

}
.form-control{
    margin-left: 120px;
}

.glyphicon.glyphicon-search{
    margin-left: 140px;
    color: grey;
    font-size: medium;

}

/* ---------------------------- Nav Bar ------------------------------------*/
/* ---------------------------- HOMEPAGE ------------------------------------*/
/* Status Update  */
#postCard{
    margin: 0 auto;
    padding: 10px;
    margin-bottom: 2px;
    box-shadow: inset;
}

.card-body{
    margin: 0 auto;
}

#post_content{
    padding: 20px;
    margin-left: 20px;
}

#editContent{
    margin: 0 450px 0 0;
    border-right: none;
    border-left: none;
    border-color: #E8E8E8;


}
#postButton{
    margin-left: 550px;
    font-size: 11.5px;
}


.glyphicon.glyphicon-camera{
    font-size: 20px;
    padding: 10px;
}
.glyphicon.glyphicon-film{
    font-size: 20px;
    padding: 10px;
   
}

.dropdown{
    margin-left: 478px;
    margin-bottom: -26.5px;
}

/* .chatting{
    border: solid pink;
    background-color: pink;
    width: 300px;
    height: 700px; 
    margin: -220px 500px 250px 30px; top, right, bottom, left */



}
/* ---------------------------- HOMEPAGE ------------------------------------*/

/* ---------------------------- Profile ------------------------------------ */

.everythingButNavBar{
    padding: 10px;
}

/* .profileSettings{
    background-color: palegoldenrod;
    height: 350px;
} */

.profile-container{
    margin: 0 auto;
    /* width: 800px;
    height: 275px; */
    padding: 20px 15%;
    color: #626262;
}
.cover-img{
    width: 100%;
    border-radius: 6px;
}

#contentCard{
    margin-top: 15px;
    height: 50px;
}

.profile-navbar{
    display: inline-block;
    width: 1010px;
}

#profile-about{
    margin: 0 auto;
    /* margin-left: 20px; */
    color: grey;
    font-size: medium;
}
#profile-posts{
    margin: 0 auto;
    color: grey;
    font-size: medium;
} 
#profile-friends{
    margin: 0 auto;
    color: grey;
    font-size: medium;
}
#profile-photos{
    margin: 0 auto;
    color: grey;
    font-size: medium;
} 




.profile-img{
    width: 50%;
    margin-right: 20px;
    border-radius: 6px;
}

.profile-details{
    color: #000;
    padding: 20px;
    border-radius: 4px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-left: 200px;

}
/* #coverimagetext{
    margin-left: 350px;
    margin-top: 125px;
} */

 
 #bioCard{
    width: 20%;
} 

.profiledetails-right button{
    background: #1876f2;
    border: 0;
    outline: 0;
    padding: 6px 10px;
    display: inline-flex;
    align-items: center;
    color: #fff;
    border-radius: 3px;
}
.profiledetails-right button:first-child{
    background: #e4e6eb;
    color: #000;

}
.profiledetails-right button:nth-child(2){
    background: #e4e6eb;
    color: #000;

}
.profiledetails-right button:last-child{
    background: #e4e6eb;
    color: #000;

}
.post-col{
    width: 160%;
    margin-right: 170px;

}

.post-col #dropdownMenuButton{
    margin-left:100px;
    margin-bottom: 30px;
}

.post-col #publishPostButton{
    margin-left: 650px;
    margin-top: -48px;
}
/* ---------------------------- Profile ------------------------------------ */