/*
should not put all the css in one file, but react compiles it all into one file anyway
now it is easier to see if the css is having side effects and affecting elements it is not meant to
*/

@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css");

/* ---------------------------- Stuff from index.css ------------------------------------*/

/*
img {
  display: block;
  width: 100%;
  height: auto;
}
*/

/* Should help with two-toned homepage */
/* background-repeat: repeat-y; */
/* ---------------------------- Login Page ------------------------------------*/

.loginNavbar{
	background-color: #fff;
	border: 1px solid #dedede;
	border-radius: 4px;
	box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
	color: #888;
	overflow: hidden;
	width: 100%; 
	margin: 0 auto;
	padding: 0;
  }
  

  /* all content on page (login page) */
  .loginMain {
	/* css from main element that was transfering to main in related components*/
	background-color: #f5f5f5;
	background-image: url("../assests/pawPrintBackground.jpg");
	background-repeat: repeat-y;
	background-size: 50% auto;
	
	padding: 40px 0 40px 0;
	margin: 0 auto;
	display: flex;
  
	object-fit: contain;
	height: 100%;
	width: 100%;
	min-height: 100vh;
  
	/* stuff from .form-resetPassword*/
	justify-content: center;
	float: right;
	position: relative;
  
	flex-direction: row;
  }
  
  /* Remebering the user */
  .loginMain .checkbox {
	font-weight: 400;
	margin-left: 40px;
  }
  
  .loginMain .loginMain:focus-within {
	z-index: 2;
  }
  
  /* signin email input  */
  .loginMain input[type="email"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 20;
	border-bottom-left-radius: 50;
  }
  /* signin password input */
  .loginMain input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 20;
	border-top-right-radius: 50;
  }
  
  /* signin section */
  .form-signin{
	background-color: #f5f5f5;
	float: left;
	border: 2px solid #e6e6e6;
	border-radius: 50px 15px;
	width: 400px;
	padding: 15px;
	margin: auto;
	margin-left: 50px;
  
  }
  
  /* login content spacing */
  .form-login {
	display: flex;
	justify-content: space-between;
	padding: 5px;
	
  }
  /* login button formatting */
  #loginButton{
	width: 50%;
	margin-left: 86px;
	margin-top: 0px;
	padding: 5px;
  
  }
  /*  login forgot password button */
  #forgotPasswordButton{
	width: 40%;
	margin-left: 170px;
	margin-top: -170px;
	padding: 5px;
  
  }

  
  /* registration section */
  .form-registration{
	margin: 150px 60px 0 0; /* top, right, bottom, left */
	border-radius: 15px 50px; 
	width: 500px;
	/* padding: 20px; */
  
  }
  
  #security_q{
	width: 60%;
  }
  /* registration button formatting */
  .form-registration button{
	width: 50%;
	margin-left: 86px;
	margin-top: 50px;
	padding: 5px;
	
  }
  /* registration content spacing */
  .form-reg {
	display: flex;
	justify-content: space-between;
	padding: 5px;
  }
  
  /* ---------------------------- Login Page ------------------------------------*/
  
  /* ---------------------------- Reset Password Page ------------------------------------*/
  /* OnlyPets logo */
  .logo{
	margin: 0px 100px 50px 70px; /* top, right, bottom, left */
	width: 65%;
  }
  
  /* Forgot Password : Logo */
  #forgotPassword-logo{
	/* width: 500px; */
	/* padding: 20px; */
	margin: 50px 200px 400px 0;
	padding: 20px;
	/* margin: 55px 750px 0 30px;  */
  }
  
  /* Forgot Password: entire form */
  .forgotPasswordForm{
	margin: 250px -200px 400px 0;
    padding: 20px;
  }
  /* Forgot Password: title */
  #forgotPassTitle{
	padding-bottom: 10px;
  
  }
  /* Forgot Password: button */
  .forgotButton{
	display: flex;
	justify-content: center;
	margin: 0 auto;
	bottom: 300px;
	padding-top: 10px;
  }
  /* Forgot Password: button */
  #forgotPassButton{
	margin-top: 20px;
	margin-left: 40px;
  }
  
  /* reset password: logo */
  #resetPassword-logo{
	padding: 20px;
	margin: 55px 750px 0 30px;
	width: 600px;
  }
  
  /* Reset Password: entire form */
  #resetPassword-form{
	margin: 200px 300px 0 -300px;
	padding: 30px;
  }
  
  /* #resetPasswordshit{
	margin: 200px 400px 0 300px;  /* top, right, bottom, left */
	/* padding: 20px;
  } */
  /* ---------------------------- Reset Password Page ------------------------------------*/

/* ---------------------------- Starting In App ------------------------------------*/
/*All pages using this css file*/
main{
    height: auto;
    width: auto;
    background-color: #f5f5f5;
    /* background-repeat: repeat-y; */
    /* box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055); */
    /*
    display: flex;
    align-items: center;
    */

}
.darkMode{
  background-color: black;
  /* color: white; */
}

.lightMode{
  background-color: white;
}

/* #logo{
    width: 3%; /* you can use % */
    /* margin-left: 20px; */
    /* height: auto; */
/* ---------------------------- Nav Bar ------------------------------------*/

/* Nav Bar Stuff */
.navbar{
    background-color: rgb(255, 255, 255);
    border: 1px solid #dedede;
    border-radius: 4px;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
    color: #888;
    overflow: hidden;
    width: auto;
    height: 60px;
    margin: 0 auto; /* top, right, bottom, left */
    margin-top: -1px;

}

#navBarTextLogo {
    width: 8%;
}

/* #logo{
    width: 4%;
} */


#home{
    color: grey;
    font-size: large;
}
#profile{
    color: grey;
    font-size: large;
}
#settings{
    color: grey;
    font-size: large;
}
#logout{
    color: grey;
    font-size: large;
}

#notifications{
    color: grey;
    font-size: large;

}

#messages{
    color: grey;
    font-size: medium;
}

.search-bar{
    width: 250px;
    margin-left: 720px;

}
.form-control{
    margin-left: 100px;
}

.glyphicon.glyphicon-search{
    margin-left: 75px;
    color: grey;
    font-size: large;

}

/* ---------------------------- Nav Bar ------------------------------------*/
/* ---------------------------- HOMEPAGE ------------------------------------*/


.entireHomepage{
  transition: background-color .2s;
}

.lightModeButton3-container{
  margin-left: -350px;
}

.entireHomepage[light-mode=dark]{
  background-color: #292929;
  color: rgb(139, 140, 143);
}


.entireHomepage[light-mode="dark"] .light-mode-button3 span:nth-child(1){
  background-color: #ced4e2;
  color: #141516;
}

.entireHomepage[light-mode=dark] .light-mode-button3 span:nth-child(2) {
  left: 65px;
  background-color: #141516;
}

.sec-nav-container{
    display: flex;
    background: #ffffff;;
    width: 240px;
    height: 220px;
    margin-left: 1150px;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2)
}

    #statusHeaderText{
        margin: 30px 0 -20px 360px; /* top, right, bottom, left */
        font-size: xx-large;

    }

#quickNavText{
    color: lightslategray;
    white-space: nowrap;
    text-align: center;
    padding: 10px;
}

#moreSettingsButtonGroup{
    margin-left: -120px;
    margin-top: 40px;
}

#profilePill{
    background-color: rgb(255, 222, 222);
    border: none;
    color: black;
    padding: 10px 53px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;

}
#settingsPill{
    background-color: rgb(253, 245, 202);
    border: none;
    color: black;
    padding: 10px 49px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;

}
#pagesPill{
    background-color: rgb(255, 223, 175);
    border: none;
    color: black;
    padding: 10px 53px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;

}

#friendsPill{
    background-color: rgb(242, 187, 123);
    border: none;
    color: black;
    padding: 10px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;

}

.status-container{
    margin-top: -500px;
}
/* Status Update  */
#postCard{
    display: flex;
    margin: 0 auto;
    padding: 10px;
    margin-bottom: 2px;
    box-shadow: inset;
}

.card-body{
    margin: 0 auto;
}

#post_content{
    padding: 20px;
    margin-left: 20px;
}

#editContent{
    margin: 0 450px 0 0;
    border-right: none;
    border-left: none;
    border-color: #E8E8E8;


}
#postButton{
    margin-left: 550px;
    font-size: 11.5px;
    display: show;
}
#likeButton{
  margin-left: -75px;
  font-size: 15px;
  border-radius: 30px;
 color:rgb(250, 151, 151);
 display: none;



}
#commentButton{
  margin-left: 10px;
  font-size: 15px;
  border-radius: 30px;
  color: rgb(214, 151, 250);
  display: none;
}


.glyphicon.glyphicon-camera{
    font-size: 20px;
    padding: 10px;
    display: show;
}
.glyphicon.glyphicon-film{
    font-size: 20px;
    padding: 10px;
    display: show;
   
}

.dropdown{
    margin-left: 478px;
    margin-bottom: -26.5px;
}

/* .chatting{
    border: solid pink;
    background-color: pink;
    width: 300px;
    height: 700px; 
    margin: -220px 500px 250px 30px; top, right, bottom, left */

.user-contacts-container{
    margin-left: 30px;
    margin-top: -220px;
    background: rgb(255, 252, 252);
    width: 300px;
    height: flex;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2)
}

#moreOptContactsButton{
    margin-left: 273px;
    margin-top: -65px;
}

#contactsText{
    padding: 10px;
}

.user-friends-list{
    padding: 15px;
}

.ads-container{
    margin-left: 1150px;
    margin-top: 30px;
    background: rgb(241, 241, 241);
    width: 240px;
    height: flex;
    /* border-radius: 10px; */
    /* box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2); */
}

#adTitleText{
    color: lightslategray;
    white-space: nowrap;
    text-align: center;
    padding: 10px;
}

.internal-ad-container{
    width: 240px;
    height: 100px;
    margin-top: -13px;
    background: white;
    border-radius: 10px;
}

.internal-ad-container #create-ad-navlink{
    text-align: center;
    white-space: normal;
    padding: 30px;

}

/* not really sure why it is two toned
*/
.button-class #compose-message-button{
    font-size: x-large;
    /* margin: 700px 0 0 0; top, right, bottom, left */
    margin-bottom: auto;
    background: white;
    border-radius: 19px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2)
}

/* .chat-box{
	position: absolute;
	right: 20px;
	bottom: 0px;
	background: white;
	width: 300px;
	border-radius: 5px 5px 0px 0px;
}
.chat-head{
	width: inherit;
	height: 45px;
	background: #2c3e50;
	border-radius: 5px 5px 0px 0px;
}
.chat-head h2{
	color: white;
	padding: 8px;
	display: inline-block;
}
.chat-head img{
	cursor: pointer;
	float: right;
	width: 25px;
	margin: 10px;
}
.chat-body{
	height: 355px;
	width: inherit;
	overflow: auto;
	margin-bottom: 45px;
}
.chat-text{
	position: fixed;
	bottom: 0px;
	height: 45px;
	width: inherit;
}
.chat-text textarea{
	width: inherit;
	height: inherit; 
	box-sizing: border-box;
	border: 1px solid #bdc3c7;
	padding: 10px;
	resize: none;
}
.chat-text textarea:active, .chat-text textarea:focus, .chat-text textarea:hover{
	border-color: royalblue;
}
.msg-send{
	background: #2ecc71;
}
.msg-receive{
	background: #3498db;
}
.msg-send, .msg-receive{
	width: 200px;
	height: 35px;
	padding: 5px 5px 5px 10px;
	margin: 10px auto;
	border-radius: 3px;
	line-height: 30px;
	position: relative;
	color: white;
}
.msg-receive:before{
	content: '';
	width: 0px;
	height: 0px;
	position: absolute;
	border: 15px solid;
	border-color: transparent #3498db transparent transparent;
	left: -29px;
	top: 7px;
}
.msg-send:after{
	content: '';
	width: 0px;
	height: 0px;
	position: absolute;
	border: 15px solid;
	border-color: transparent transparent transparent #2ecc71;
	right: -29px;
	top: 7px;
}
.msg-receive:hover, .msg-send:hover{
	opacity: .9;
} */

#chat-bubble {
    height: 55px;
    overflow: hidden;
    min-width: 285px;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    right: 50px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px solid #e4e4e4;
  }

  /* #chat-bubble.open {
    min-height: 350px;
  } */
  
  .chat-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 25px;
    z-index: 10;
    position: relative;
    padding: 8px;
    box-shadow:  0 2px 1px rgba(0, 0, 0, .1);
    cursor: pointer;
    background-color: #fff;
    transition: background-color 0.3s ease-in;
  }
  .chat-header:hover {
    background-color: #f7f7f7;
  }
  
  .user-avatar {
    display: flex;
    flex: 1;
  }
  
  .user-avatar img {
    border-radius: 50%;
    margin-right: 8px;
  }
  
  .user-avatar .img-container {
    position: relative;
  }
 
  .user-avatar .img-container::after {
    content: '';
    width: 10px;
    height: 10px;
    background-color: #1ba71b;
    position: absolute;
    right: 4px;
    bottom: 4px;
    border-radius: 50%;
    border: 2px solid #fff;
  }
  
  .user-avatar .user-status-info a {
    font-size: 13px;
    margin: 0;
    text-decoration: none;
    font-weight: bold;
    color: #000;
  }
  
  .user-avatar .user-status-info p {
    font-size: 11px;
    color: gray;
  } 
/*   
  .chat-comm {
    display: none;
  }

  #chat-bubble.open .chat-comm {
    display: block;
  }
  
  .chat-comm a {
    text-decoration: none;
  }
  
  .chat-comm a:not(:last-child) {
    margin-right: 8px;
  }
  
  .chat-body {
    padding: 8px;
  }
  
  .sender-other .user-avatar .img-container img {
    width: 25px;
  }
  
  .sender-other .user-avatar .img-container::after {
    width: 7px;
    height: 7px;
    right: 4px;
    bottom: 6px;
  }
  
  .sender-other .other-message {
    background-color: #f1f0f0;
    border-radius: 25px;
    padding: 8px 11px;
    font-size: 14px;
  }


.sender-me {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  .sender-me .my-message {
    background-color: #3578e5;
    color: #fff;
    border-radius: 25px;
    padding: 8px 11px;
    font-size: 14px;
  }
  
  .sender-me .seen-at {
    display: flex;
    align-items: center;
    color: #90949C;
    font-size: 11px;
    margin-top: 8px;
  }
  
  .sender-me .seen-at img.check {
    width: 12px;
    margin-right: 4px;
  }

  .chat-footer {
    border-top: 1px solid #e4e4e4;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 8px;
  }
  
  .chat-footer input[type=textarea] {
    width: 100%;
    border: none;
    padding: 0 8px;
  }
  
  .chat-footer svg path {
    fill: #bec2c9;
  }
  
  .chat-footer input[type=textarea]:focus {
    outline: none;
  }
  .chat-media {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
  }

  .chat-media a {
    text-decoration: none;
  }
  
  .chat-media a:not(:last-child) {
    margin-right: 8px;
  }
  
  .chat-media img {
    width: 18px;
  }
  
  .chat-media img.game {
    width: 20px;
  }
  
  .chat-media img.attach {
    width: 14px;
  }
  
  .chat-media img.camera {
    width: 16px;
  } */


/* ---------------------------- HOMEPAGE ------------------------------------*/

/* ---------------------------- Profile ------------------------------------ */

/* .profileSettings{
    background-color: palegoldenrod;
    height: 350px;
} */

.entire-profilepage{
  transition: background-color .2s;
}

.lightModeButton4-container{
  margin-left: -350px;
}

.entire-profilepage[light-mode=dark]{
  background-color: #292929;
  color: rgb(139, 140, 143);
}


.entire-profilepage[light-mode="dark"] .light-mode-button4 span:nth-child(1){
  background-color: #ced4e2;
  color: #141516;
}

.entire-profilepage[light-mode=dark] .light-mode-button4 span:nth-child(2) {
  left: 65px;
  background-color: #141516;
}
.profile-container{
    margin: 0 auto;
    width: auto;
    height: auto;
    padding: 20px 15%;
    color: #626262;

}
.cover-img{
    width: 100%;
    border-radius: 6px;
}

#coverphotobutton{
    margin-top: -75px;
    margin-left: 890px;
}

#contentCard{
    margin-top: 15px;
    height: 100px;
    width: 30px;
}

#privacyButton{
    margin: 20px 20px 20px 0; /* top, right, bottom, left */
}


#profilepublishPostButton{
    margin: -28px 20px 0 550px; /* top, right, bottom, left */
 }

.profile-navbar{
    display: inline-block;
    width: 1005px;
}

#profile-about{
    margin: 0 auto;
    /* margin-left: 20px; */
    color: grey;
    font-size: medium;
}
#profile-posts{
    margin: 0 auto;
    color: grey;
    font-size: medium;
} 
#profile-friends{
    margin: 0 auto;
    color: grey;
    font-size: medium;
}
#profile-photos{
    margin: 0 auto;
    color: grey;
    font-size: medium;
} 


.profile-img{
    width: 50%;
    margin-right: 20px;
    border-radius: 6px;
}

.profile-details{
    color: #000;
    padding: 20px;
    border-radius: 4px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-left: 200px;

}
/* #coverimagetext{
    margin-left: 350px;
    margin-top: 125px;
} */

 
 #bioCard{
    width: 20%;
} 

.profiledetails-right button{
    background: #1876f2;
    border: 0;
    outline: 0;
    padding: 6px 10px;
    display: inline-flex;
    align-items: center;
    color: #fff;
    border-radius: 3px;
}
.profiledetails-right button:first-child{
    background: #e4e6eb;
    color: #000;

}
.profiledetails-right button:nth-child(2){
    background: #e4e6eb;
    color: #000;

}
.profiledetails-right button:last-child{
    background: #e4e6eb;
    color: #000;

}
.post-col{
    width: 80%;
    margin-right: 200px;

}

.post-col #dropdownMenuButton{
    margin-left:100px;
    margin-bottom: 30px;
}

.post-col #publishPostButton{
    margin-left: 650px;
    margin-top: -48px;
}

#friendButton{
    margin-left: 0px;
}
#messageButton{
    margin-left: 10px;
}
#profileBlockButton{
    margin-left: 10px;
}
/* ---------------------------- Profile ------------------------------------ */
/* ---------------------------- Profile: About ------------------------------------ */

.entire-profilepage{
  transition: background-color .2s;
}

.lightModeButton5-container{
  margin-left: -350px;
}

.entire-profilepage[light-mode=dark]{
  background-color: #292929;
  color: rgb(139, 140, 143);
}


.entire-profilepage[light-mode="dark"] .light-mode-button5 span:nth-child(1){
  background-color: #ced4e2;
  color: #141516;
}

.entire-profilepage[light-mode=dark] .light-mode-button5 span:nth-child(2) {
  left: 65px;
  background-color: #141516;
}
#AboutCard{
    width: 375px;
    height: 275px;
}

#IntroCard{
    margin-right: 200px;
    width: 600px;
    height: 275px;
}




#editOverview{
    margin-bottom:auto;
}


#editIntroButton{
    background: #dedede;

}

#overViewText{
  font-size: large;
  font-weight: bold;
}
#introText{
  font-size: large;
  font-weight: bold;

}
.profiledetails-bottom #AnotherBioCard{
    width: 1000px;
    height: 300px;
    margin-left: 220px;
}

#profileCardButtonGroup{
    padding: 20px;

    
}

#bioPlacesButton{
    width: 250px;
    height: 50px;
    margin: 10px;
    font-weight: bold;



}
#bioWorkButton{
    width: 250px;
    height: 50px;
    margin: 10px;
    font-weight: bold;

}
#bioContactButton{
    width: 250px;
    height: 50px;
    margin: 10px;
    font-weight: bold;

}

.text-container{
  margin-left:400px;
  margin-top: -240px;
  width: 550px;
  height: 250px;
}

#placesText{
  display: none;
  font-weight: bold;
  font-size: large;
  margin-left: 125px;
  margin-top: 100px;


}
#workText{
  display: none;
  font-weight: bold;
  font-size: large;
  margin-left: 125px;
  margin-top: 100px;
}

#contactText{
  display: none;
  font-weight: bold;
  font-size: large;
  margin-left: 125px;
  margin-top: 100px;

}
/* ---------------------------- Profile: About ------------------------------------ */
/* ---------------------------- Profile: Friends ------------------------------------ */

.entire-profilepage{
  transition: background-color .2s;
}

.lightModeButton6-container{
  margin-left: -350px;
}

.lightModeButton5-container{
  margin-left: -350px;
}

.entire-profilepage[light-mode=dark]{
  background-color: #292929;
  color: rgb(139, 140, 143);
}


.entire-profilepage[light-mode="dark"] .light-mode-button6 span:nth-child(1){
  background-color: #ced4e2;
  color: #141516;
}

.entire-profilepage[light-mode=dark] .light-mode-button6 span:nth-child(2) {
  left: 65px;
  background-color: #141516;
}
/* ---------------------------- Profile: Friends ------------------------------------ */

.entire-profilepage{
  transition: background-color .2s;
}

.lightModeButton7-container{
  margin-left: -350px;
}

.lightModeButton5-container{
  margin-left: -350px;
}

.entire-profilepage[light-mode=dark]{
  background-color: #292929;
  color: rgb(139, 140, 143);
}


.entire-profilepage[light-mode="dark"] .light-mode-button7 span:nth-child(1){
  background-color: #ced4e2;
  color: #141516;
}

.entire-profilepage[light-mode=dark] .light-mode-button7 span:nth-child(2) {
  left: 65px;
  background-color: #141516;
}

/* ---------------------------- Profile: Pictures ------------------------------------ */

.entire-profilepage{
  transition: background-color .2s;
}

.lightModeButton7-container{
  margin-left: -350px;
}

.lightModeButton5-container{
  margin-left: -350px;
}

.entire-profilepage[light-mode=dark]{
  background-color: #292929;
  color: rgb(139, 140, 143);
}


.entire-profilepage[light-mode="dark"] .light-mode-button7 span:nth-child(1){
  background-color: #ced4e2;
  color: #141516;
}

.entire-profilepage[light-mode=dark] .light-mode-button7 span:nth-child(2) {
  left: 65px;
  background-color: #141516;
}
/* ---------------------------- Profile: Pictures ------------------------------------ */
/* ---------------------------- Settings: General Settings ------------------------------------*/


.entireSettingsPage{
  transition: background-color .2s;
}

.entireSettingsPage[light-mode=dark] {
  background-color: #292929;
  /* color: #ced4e2; */
}


.entireSettingsPage[light-mode="dark"] .light-mode-button span:nth-child(1){
  background-color: #f5f5f5;
  /* color: #141516; */
}

.entireSettingsPage[light-mode=dark] .light-mode-button span:nth-child(2) {
  left: 65px;
  background-color: #141516;
}

.settings-container{
    padding: 20px;
    /* margin: 0 auto; */
}
.settings-container #settings-container-background{
    margin: 0 auto;
    width: 600px;
    height: 700px;

}
.full-settings-container{
    align-items: center;
}
#settingsHeaderText{
    margin: 0 auto;
    font-size: xx-large;
}

/* #customizeThemeSwitch{
    margin-right: 450px;
} */

#darkModeSwitchText{
    /* margin-left: 200px; */
    font-weight: bold;
}

.searchBarBlockedPages-Container{
    width: 35%;
    /* height: 30%; */
}

.searchBarBlockedUsers-Container{
    width: 35%;
    /* height: 30%; */
}

#blockButton{
    margin-left: 325px;
    margin-top: -50px;
}
#profilePageText{
    font-weight: bold;
}

#statusText{
    font-weight: bold;
}
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 53px;
    height: 25px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider{
    background-color: black;
  }
  

  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }


  #onlyMePrivactySwitch{
      margin-left: 20px;

  }
  #friendsPrivactySwitch{
    margin-left: 25px;

  }
  #publicPrivactySwitch{
    margin-left: 30px;

  }

#menu-toggle {
    display: none;
    width: 100px;
    height: 400px;
  }
  
  #collapse-menu {
    transition: transform 0.3s;
    transform-origin: top;
  }
  
  input:not(:checked) ~ #collapse-menu {
    transform: scaleY(0);
  }

  #privacyDropDown{
      width: 5%;
  }

  .light-mode-button {
    background:0;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    height: 40px;
    width: 100px;
    position: relative;
    border: 1px solid rgba(255,255,255,0);
}

.light-mode-button:focus {
    outline:none; /* Not ideal for accessibility */
}

.light-mode-button span:nth-child(1) {
    position: absolute;
    top:0;
    left:0;
    width: 100px;
    height:40px;
    border-radius: 20px;
    background-color: #d6d7db;
    box-shadow: inset 1px 1px 3px 0 rgb(0 0 0 / 40%);
    transition: .3s;
}

.light-mode-button span:nth-child(2) {
    position: absolute;
    top:5px;
    left:5px;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 1px 1px 2px 0 rgb(0 0 0 / 40%);
    transition: .3s;
}

/* ---------------------------- Settings: General Settings ------------------------------------*/
/* ---------------------------- Search ------------------------------------*/


.entireSearchpage {
  background-color: #f6f6f6;
  transition: background-color .3s;
}

.lightModeButton2-container{
  margin-left: -350px;
}

.entireSearchpage[light-mode=dark] {
  background-color: #292929;
  color: rgb(139, 140, 143);
}

.entireSearchpage[light-mode="dark"] .light-mode-button2 span:nth-child(1){
  background-color: #ced4e2;
  color: #141516;
}

.entireSearchpage[light-mode=dark] .light-mode-button2 span:nth-child(2) {
  left: 65px;
  background-color: #141516;
}
#serchPostCard{
  margin-top: -300px;
  margin-left: 350px;
  height: 200px
}
.filter-container{
  margin-top: -300px;
}
#filter-card-container{
  width: 300px;
  height: 400px;
}




/* ---------------------------- Search ------------------------------------*/

/* ---------------------------- Messages ------------------------------------*/
.entire-messagepage{
  background-color: #f6f6f6;
  transition: background-color .3s;
}

.lightModeButton9-container{
  margin-left: -350px;
}

.entire-messagepage[light-mode=dark] {
  background-color: #292929;
  color: #ced4e2;
}

.entire-messagepage[light-mode="dark"] .light-mode-button9 span:nth-child(1){
  background-color: #ced4e2;
  color: #141516;
}

.entire-messagepage[light-mode=dark] .light-mode-button9 span:nth-child(2) {
  left: 65px;
  background-color: #141516;
}
/* ---------------------------- Messages ------------------------------------*/